[Unit]
Description=JWT Go API server
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Restart=on-failure
RestartSec=15s
EnvironmentFile=.env
ExecStart=jwtgo
SyslogIdentifier=jwtgo

[Install]
WantedBy=multi-user.target